services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - ./cyphertap:/cyphertap
      - /app/node_modules
      - /cyphertap/node_modules
      - /cyphertap/dist
    environment:
      - DEBUG=true
      - LOG_LEVEL=DEBUG
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - spellstr-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=true
      - LOG_LEVEL=DEBUG
    env_file:
      - ./backend/.env
    networks:
      - spellstr-network

networks:
  spellstr-network:
    driver: bridge
