site_name: Seed
site_description: A proof-of-concept of a nostr-native website that accepts 
site_url: https://PlebeiusGaragicus.github.io/seed/
repo_url: https://github.com/PlebeiusGaragicus/seed
repo_name: seed

theme:
  name: material
  palette:
    - scheme: slate
      primary: orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables

nav:
  - Overview: index.md
  - Features: features.md
  - Roadmap: roadmap.md
  - Design Overview:
    - API Reference: overview/endpoints.md
  - Setup:
    - Production: setup/production.md
    - Development: setup/development.md
